.App>div {
  text-align: center;
  border: solid;
}

.App-header {
  padding: 20px;
  color: white;
}

.favorite{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.photoEditor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  border: solid brown;
}
img {
  height: 200px;
  border: solid black;
}

.uploadPhoto{
  height: 200px;
  width: 170px;
  border: dotted red;
}

.Rounded {
        -moz-border-radius:10px 10px 10px 10px;  
        border-radius:10px 10px 10px 10px;  
        border:solid 1px #000;
        background-color: #acf;
        padding: 10px;
    }
